.button {
  border: 1px solid #bababa;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

.primary {
  background: #9a56ff;
  color: white;
}

.secondary {
  background: #ffffff;
  color: #3b3b3b;
}

.small {
  font-size: 0.75rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.25rem;
}
